body {
  background-color: #498cec;
  margin: 0;
  color: #fff;
}
.App {
  padding: 0 75px 122px 99px;
}
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
header > div {
  display: inline-block;
}
.title {
  font: 400 50px/60px Lato, arial, helvetica, sans-serif;
  margin: 26px 0 11px 0;
}
.sityLink {
  font: 400 18px/22px Lato, arial, helvetica, sans-serif;
  letter-spacing: 0.9px;
  opacity: 0.6;
  margin: 0 60px 0 2px;
  text-decoration: none;
  color: #fff;
}
.locationLink {
  position: relative;
  font: 400 18px/22px Lato, arial, helvetica, sans-serif;
  opacity: 0.6;
  text-decoration: none;
  color: #fff;
}
.locationLink::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: -32px;
  width: 15px;
  height: 21px;
  background: url('./location.svg');
}
.buttonGroup {
  font: 400 18px/22px Lato, arial, helvetica, sans-serif;
  color: #92baf4;
  vertical-align: top;
  margin-top: 34px;
}
.buttonGroup > button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
  margin-left: 10px;
}
.buttonGroup > button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left: none;
}
button {
  border: 1px solid #92baf4;
  background-color: #498cec;
  font: 400 18px/22px Lato, arial, helvetica, sans-serif;
  color: #92baf4;
  width: 39px;
  height: 29px;
}
.buttonActive {
  border: 1px solid #a7c8f6;
  background-color: #6da3f0;
  color: #fff;
}
section {
  text-align: center;
  vertical-align: top;
  padding-top: 149px;
}
.icon {
  padding: 8px 0 0 10px;
}
.temp {
  font: 400 180px/216px Lato, arial, helvetica, sans-serif;
  display: inline-block;
  margin: 0;
}
.description {
  font: 400 25px/30px Lato, arial, helvetica, sans-serif;
}
.bottom {
  text-align: left;
}
.bottomItem {
  font: 400 18px/22px Lato, arial, helvetica, sans-serif;
  opacity: 0.6;
  display: inline-block;
  width: 22%;
  padding: 0px 2px 0 53px;
}
.bottomItem:first-child {
  padding: 0;
}
.bottomItem:last-child {
  padding-left: 21px;
}
.bottomItem > p {
  font: 400 25px/30px Lato, arial, helvetica, sans-serif;
  margin-top: 11px;
}
